/* google font */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff10f;
  --secondary-color: #232323;
  --dark-color: #151515;
}

/*-------------------- 
  preset properties 
--------------------*/
body {
  font-family: "Oxanium", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background: none repeat scroll 0 0;
  background-color: var(--dark-color);
  margin: 0 auto;
}

main>section {
  margin: 130px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}


.gd-post-select .css-13cymwt-control {
  background-color: var(--dark-color);
  border-radius: 0;
  border-color: #ffffff;
  padding: 6px 0;
}

.gd-post-select .css-13cymwt-control:hover {
  border-color: var(--primary-color);
}

/* Control element */
.gd-post-select .gd-post__control {
  background-color: var(--dark-color);
  border-radius: 0;
  padding: 6px 0;
  border-color: #ffffff;
}

.gd-post-select .gd-post__control:hover {
  border-color: var(--primary-color);
}

/* Input element */
.gd-post-select .gd-post__input {
  padding: 6px 0;
  border-radius: 0;
}

/* Placeholder text */
.gd-post-select .gd-post__placeholder {
  color: #777777;
}

/* Single value (selected option) */
.gd-post-select .gd-post__single-value {
  color: #ffffff;
}

/* Menu */
.gd-post-select .gd-post__menu {
  background-color: #ffffff;
  border-radius: 0;
}

/* Option */
.gd-post-select .gd-post__option {
  color: var(--secondary-color);
}

.gd-post-select .gd-post__option--is-selected {
  background-color: var(--primary-color);
}

.gd-post-select .gd-post__option--is-focused {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.both-cut {
  clip-path: polygon(92% 0%, 100% 40%, 100% 100%, 8% 100%, 0% 60%, 0% 0%);
  /* clip-path: polygon(92% 0%, 100% 50%, 100% 100%, 8% 100%, 0% 50%, 0% 0%); */
} 